@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoBlack";
	src: url("../fonts/RobotoRegular/Roboto-Black.eot");
	src: url("../fonts/RobotoRegular/Roboto-Black.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/Roboto-Black.woff") format("woff"),
			 url("../fonts/RobotoRegular/Roboto-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoRegular/Roboto-Bold.eot");
	src: url("../fonts/RobotoRegular/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/Roboto-Bold.woff") format("woff"),
			 url("../fonts/RobotoRegular/Roboto-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoRegular/Roboto-Light.eot");
	src: url("../fonts/RobotoRegular/Roboto-Light.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/Roboto-Light.woff") format("woff"),
			 url("../fonts/RobotoRegular/Roboto-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}